body{
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8, 0.96);
}

.App{
  display: flex;
  flex-direction: column;
}

.App-body-upr {
  margin: 0;
  padding: 0;
  background-color: rgba(8, 8, 8, 0.96);

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: minmax(0,0.6fr) minmax(0,3.15fr)
}

